.sfb-actions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  padding-bottom: 20px;
}
.sfb-search-bar {
  display: flex;
  height: 53px;
  flex: 1;
  min-width: 130px;
}
.sfb-search-input-wrapper {
  display: flex;
  align-items: center; /* Vertically align items */
  position: relative;
  width: 100%;
  border: 1px solid #ccc; /* Optional border */
  border-radius: 6px;
  background-color: #fff; /* Optional background color */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}
.sfb-search-input-wrapper:focus-within {
  border-color: #007bff; /* Highlight border color */
  box-shadow: 0 0 4px #007bff; /* Optional shadow for focus effect */
}


.sfb-search-input {
  flex: 1; /* Let input take all the available space */
  border: none; /* Remove the border from input since wrapper has a border */
  font-size: 18px;
  padding: 8px 10px; /* Add padding on left side */
  border-radius: 6px;
  max-width: calc(100% - 50px);
}
.sfb-search-input:focus {
  outline: none; /* Remove focus outline */
}

.sfb-search-icon {
  margin-right: 10px; /* Add some spacing between icon and input content */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sfb-filter-button {
  padding: 16px 50px;
  cursor: pointer;
  background-color: #003E7F;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  word-break: keep-all;
  min-width: 140px;
  text-align: center;
  font-size: 18px;
}

.sfb-filter-button:last-of-type {
  margin-right: 10px;
}

.sfb-filter-button:hover {
  background-color: #0056b3;
}

.sfb-filter-button.active {
  background-color: #696969;
}

.sfb-results-container {
  margin-top: 10px;
}
/* style for results */
.sfb-results-container .sfb-sermons-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 30px; /* Adjust the gap between items as needed */
}
.sfb-results-container .sfb-sermons-grid article {
  flex: 0 0 calc(50% - 15px); /* 2 items per row, with gap adjustment */
  box-sizing: border-box;
}
.sfb-results-container .sfb-sermons-grid article .sermon-content {
    margin: 0;
    padding: 0;
    color: #003E7F;
}
.sfb-results-container .sfb-sermons-grid article .sermon-title {
    margin-top: 20px;
}
.sfb-results-container .sfb-sermons-grid article .sermon-title a {
  text-decoration: none;
  color: #003E7F;
  font-weight: bold;
}
.sfb-results-container .sfb-sermons-grid article .sermon-title a:hover {
  color: #018882;
}

@media (max-width: 480px) {
  .sfb-results-container .sfb-sermons-grid article {
      flex: 0 0 100%; /* 1 item per row on mobile */
  }
}

.sfb-pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 0px;
}
.sfb-page-dots {
  padding: 10px;
}
.sfb-page-link {
  padding: 10px;
}
.sfb-page-link:has(svg) {
  padding: 8px 10px;
}        
  
.sfb-page-link svg {
  width: 32px;
  height: 32px;
  fill: #1d427d; 
}

.sfb-page-link a {
  color: #003E7F;
  text-decoration: none;
}
.sfb-page-link a:hover {
    color:#018882;
}
.sfb-page-link a:hover svg {
  fill: #018882;
}

.sfb-page-link.disabled svg {
  fill: #696969;
}
.sfb-page-link span.current {
  color: #696969;
  text-decoration: underline;
}

/* 
  Style for embed video to make the iframe be resizible
  according to the parent container
*/
.sfb-sermon-embed-video {
  position: relative;
  padding-top: 0;
  margin-bottom: 0;
  border-radius: 16px;
}
.sfb-sermon-embed-video iframe {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    aspect-ratio: 16 / 9;
}

/*
  Styles for display taxonomy list
*/
.sfb-taxonomy-list {
  list-style-type: none;
  padding: 0;
  margin-top: -20px;
}

.sfb-child-taxonomy-link {
  cursor: pointer;
  display: flex;
  transition: background-color 0.3s ease;
  gap: 10px 20px;
  color: #003E7F;
  border-bottom: 1px solid #003E7F;
  padding: 20px 0px;
  font-weight: 700;
}

.sfb-child-taxonomy-link:hover {
  color: #018882;
}

.sfb-term-name {
  text-align: left;
  flex-basis: 66%;
}

.sfb-term-count-arrow {
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: right;
}

.sfb-container {
  position: relative;
  margin-top: 0;
}

/*
  Spinner while loading data
*/
.sfb-spinner {
  display: none;
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 120px;
  left: calc(50% - 42px);
  transform: translate(-50%, -50%);
  z-index: 1000; /* Ensure spinner is on top */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sfb-loading .sfb-spinner {
  display: block;
}

.sfb-loading .sfb-results-container {
  opacity: 0.3;
  min-height: 60px;
  pointer-events: none;
}

/* style for the "back to previous page" link */
.sfb-back-to-previous-page a {
  display: flex;
  color: #003E7F;
  border: 0;
  outline-style: none;
  text-decoration: none;
}
.sfb-back-to-previous-page a:hover {
  color: #018882;
}
.sfb-back-to-previous-page a:hover svg {
  fill: #018882;
}

.sfb-back-to-previous-page a .sfb-back-to-left-arrow {
  margin-right: 20px;
  margin-top: 4px;
}
.sfb-back-to-previous-page a svg {
  fill: #003E7F;
}

