
.sermon-filter-buttons-container {
  display: flex;

  .sermon-search-bar {
    margin-left: 20px;
    display: flex;
    height: 34px;
    position: relative;

    #sermon-search-input {
      border-radius: 5px;
      font-size: 14px;
      padding: 7px 10px;
    }
    .sermon-search-icon {
      position: absolute;
      right: 0;
      top: 7px;
      cursor: pointer;
    }
  }
}

.sermon-filter-buttons {
  margin-bottom: 20px;
}

.sermon-filter-button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sermon-filter-button:hover {
  background-color: #0056b3;
}

.sermon-filter-button.active {
  background-color: #0056b3;
}

.sermon-filter-results {
  margin-top: 20px;
}

.taxonomy-list {
  list-style-type: none;
  padding: 0;
}

.child-taxonomy-link {
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.child-taxonomy-link:hover {
  background-color: #d0d0d0;
}

.child-taxonomy-link .arrow {
  margin-left: auto;
  font-size: 1.2em;
  color: #007bff;
}

.term-name {
  flex-grow: 1;
  text-align: left;
}

.term-count-arrow {
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: right;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination .page-link {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.pagination .page-link:hover {
  background-color: #0056b3;
}

.sfb-sermons-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between items as needed */
}

.sfb-sermons-grid article {
  flex: 0 0 calc(33.333% - 20px); /* 3 items per row, with gap adjustment */
  box-sizing: border-box;
}

.sfb-sermons-grid article .entry-header, 
.sfb-sermons-grid article .entry-content {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .sfb-sermons-grid article {
      flex: 0 0 calc(50% - 10px); /* 2 items per row on tablets */
  }
}

@media (max-width: 480px) {
  .sfb-sermons-grid article {
      flex: 0 0 100%; /* 1 item per row on mobile */
  }
}

.sfb-sermon-embed-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  margin-bottom: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
  }
}