.sfb-actions-container {
  display: flex;

  .sfb-search-bar {
    margin-left: 20px;
    display: flex;
    height: 34px;
    position: relative;

    .sfb-search-input {
      border-radius: 5px;
      font-size: 14px;
      padding: 7px 10px;
    }
    .sfb-search-icon {
      position: absolute;
      right: 0;
      top: 7px;
      cursor: pointer;
    }
  }
}

.sfb-buttons-group {
  margin-bottom: 20px;
}

.sfb-filter-button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sfb-filter-button:hover {
  background-color: #0056b3;
}

.sfb-filter-button.active {
  background-color: #0056b3;
}

.sfb-results-container {
  margin-top: 20px;

  /* style for results */
  .sfb-sermons-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between items as needed */

    article {
      flex: 0 0 calc(33.333% - 20px); /* 3 items per row, with gap adjustment */
      box-sizing: border-box;
  
      .entry-content {
        margin: 0;
        padding: 0;
      }
    }
  }

  @media (max-width: 768px) {
    .sfb-sermons-grid article {
        flex: 0 0 calc(50% - 10px); /* 2 items per row on tablets */
    }
  }

  @media (max-width: 480px) {
    .sfb-sermons-grid article {
        flex: 0 0 100%; /* 1 item per row on mobile */
    }
  }

  .sfb-pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;

    .sfb-page-link {
      cursor: pointer;
      padding: 5px 10px;
      background-color: #007bff;
      color: #ffffff;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
} /* end of .sfb-results-container */

/* 
  Style for embed video to make the iframe be resizible
  according to the parent container
*/
.sfb-sermon-embed-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  margin-bottom: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
  }
}

/*
  Styles for display taxonomy list
*/
.sfb-taxonomy-list {
  list-style-type: none;
  padding: 0;
}

.sfb-child-taxonomy-link {
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.sfb-child-taxonomy-link:hover {
  background-color: #d0d0d0;
}

.sfb-child-taxonomy-link .sfb-term-arrow {
  margin-left: auto;
  font-size: 1.2em;
  color: #007bff;
}

.sfb-term-name {
  flex-grow: 1;
  text-align: left;
}

.sfb-term-count-arrow {
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: right;
}

